 
         <ul class="nav nav-tabs" >
            <li class="active"><a href="#/" data-toggle="tab">Profile</a></li>
            <li class=""><a href="#/basic-settings" data-toggle="tab">Basic Settings</a></li>
			<li class=""><a href="#/change-password" data-toggle="tab">Change Password</a></li>
         </ul>
         <div class="tab-content  tab-content-data">
            <div id="/" class="tab-pane fade in  active" >
               <div class="panel" >
                                             <div class="panel-body"> 
                                                <div class="row"  ng-repeat="users in editUser">
                                                   <div class="col-lg-4 col-sm-8">
												   <div ng-repeat="data in users.fields"  ng-show="data.type == 'file'">
												   
                                                      <label for="@{{data.identifier}}">{{data.title}}</label> 
												    <div class="img-upload" style="width:250px;min-height:200px;"  >
                                                       <div class="form-group" >
													   
													  
												   
												   
                                                      <input type=" " ng-model="data.value" value="@{{data.value}}" id="item_photo" style="display:  none;"/>
                                                     
													    <div style="text-align: center;position: relative" id="image">
													   <img  style="padding:60px 40px;"  class="img-responsive center-block" id="preview_image1"  ng-hide="data.value" src="{{asset('admin/assets/images/img-placeholder.png')}}"/>
														   <img    class="img-responsive center-block" id="preview_image" ng-hide="!data.value"  src="../images/users/{{data.value}}" style="padding:0px ;background:#f5f5f5;border:1px solid #f5f5f5"/>
													  <i id="loading1" class="fa fa-spinner fa-spin fa-3x fa-fw" style="position: absolute;left: 40%;top: 40%;display: none"></i>
												   </div>
                                                      
                                                      </p>
                                                   </div>
                                                         </div> 
														 
														  <div class="text-right" style="font-size: ;width:250px;" >
													  <a href="javascript:changeProfile()" title="edit" style="text-decoration: none;background:#e2e2e2;padding:8px; position: absolute;  bottom: 50px;  margin-left: -28px;">
													  <i class="fa fa-edit"></i> 
													  </a>&nbsp;&nbsp;
													  <!-- <a href="javascript:removeFile()" title="delete" style="color: red;text-decoration: none;background:#e2e2e2;padding:8px; position:absolute;bottom: 50px;right:20px ">
													  <i class="fa fa-trash-o"></i>
													  </a>  -->
												   </div>
												   </div>
														 </div>
														  <div class="col-lg-6 col-sm-8">
														    <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'hidden'">
                                                      <label for="{{data.identifier}}"> </label>
                                                      <input type="{{data.type}}" ng-model="data.value" class="form-control"   id="{{data.identifier}}"  placeholder="Enter {{data.title}}" >
                                                   </div>
												   
												   <md-input-container  class="md-block text-left" ng-repeat="data in users.fields" ng-show="data.type == 'text' || data.type == 'string'" >
                                                         <label>{{data.title}}</label>
                                                         <input type="{{data.type}}" id="{{data.identifier}}" name="{{data.identifier}}"  ng-model="data.value" value="" />
                                                      </md-input-container>
													  
													  
													   <md-input-container  class="md-block text-left" ng-repeat="data in users.fields" ng-show="data.type == 'email' "  >
                                                         <label>{{data.title}}</label>
                                                         <input type="{{data.type}}" id="{{data.identifier}}" name="{{data.identifier}}"  ng-model="data.value" value="" />
                                                      </md-input-container>
													  
													  
													  <md-input-container  class="md-block text-left" ng-repeat="data in users.fields" ng-show="data.type == 'password' "  >
                                                         <label>{{data.title}}</label>
                                                         <input type="{{data.type}}" id="{{data.identifier}}" name="{{data.identifier}}"  ng-model="data.value" value="" />
                                                      </md-input-container>
                                                      
												     
													 
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'tag'">
                                                         <label for="{{data.identifier}}">{{data.title}}</label> 
                                                         <tags-input ng-model="data.value" add-from-autocomplete-only="true" allow-leftover-text="false" display-property="label" key-property="id" text="text" ng-blur="text=''">
                                                            <auto-complete min-length="1" highlight-matched-text="true" source="searchData($query,data)"></auto-complete>
                                                         </tags-input>
                                                      </div>
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.symbol">
                                                         <label for="{{data.identifier}}">@{{data.title}}</label>
                                                         <div class="input-group">
                                                            <span class="input-group-addon">@{{data.symbol}}</span>
                                                            <input type="{{data.type}}" class="form-control"   ng-model="data.value" id="{{data.identifier}}" placeholder="Enter {{data.title}}" >
                                                         </div>
                                                      </div>
                                                      <!----- For Checkbox Type Input Field----------->
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'checkbox'">
                                                         <label for="{{data.identifier}}">{{data.title}} </label> <br>
                                                         <div class="checkbox" ng-repeat="options in data.field_options">
                                                            <label><input type="{{data.type}}"  ng-model="data.value[options.value]" id="{{options.value}}"  >{{options.title}}</label>
                                                         </div>
                                                         <label class="checkbox-inline" ng-repeat="options in data.field_options">
                                                         <input type="{{data.type}}" ng-model="data.value" value="{{options.value}}" >{{options.title}}
                                                         </label>
                                                      </div>
                                                      <!----- For Select Box Type Input Field----------->
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'Selectbox'">
                                                         <label for="@{{data.identifier}}">@{{data.title}}</label> <br> 
                                                         <select ng-model="data.value" class="form-control"  ng-required="data.required_or_not">
                                                            <option value="" selected>Select User Type</option>
                                                            <option  ng-repeat="options in data.field_options" value="{{options.value}} ">{{options.title}}</option>
                                                         </select>
                                                      </div>
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.message">
                                                         <label for="{{data.identifier}}">{{data.title}}</label>
                                                         <input type="{{data.type}}" ng-model="data.value" class="form-control"   id="{{data.identifier}}"  placeholder="Enter {{data.title}}"  >
                                                      </div>
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'datePicker'" placeholder="Enter {{data.title}}">
                                                         <label for="{{data.identifier}}">{{data.title}}</label>
                                                         <datepicker
                                                            date-format="yyyy-MM-dd"  
                                                            button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                                            button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                                            <input ng-model="data.value" type="text" class="form-control font-fontawesome font-light radius3" placeholder="Enter {{data.title}}" />
                                                         </datepicker>
                                                      </div>
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'timePicker'">
                                                         <label for="{{data.identifier}}">{{data.title}}</label>
                                                         <div class="input-group clockpicker" 
                                                            clock-picker 
                                                            data-autoclose="true"   > 
                                                            <input ng-model="ctrl.time" data-format="hh:mm:ss" type="text" class="form-control" placeholder="Enter {{data.title}}">
                                                            <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                            </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                            
											 <div class="row">
                                          <div class="col-lg-12 col-sm-12 submit text-right">
                                             <button   ng-click="updateUser()" class="btn md-raised bg-color md-submit md-button md-ink-ripple">Save Profile</button>
                                          </div>
										   </div>
										    </div>
											</div>
                                        
            </div>
         </div> 