       

<section id="banner" style="background: url('web-food/assets/images/food-back-small.jpg')no-repeat center;">
   <div class="container">
      <div class="row" >
         <div class="col-sm-12"  ng-controller="profileController" >
            <md-list layout-padding class="profile-data" >
               <md-list-item class="md-3-line"   ng-repeat="users in profileData.data"  >
                  <img  ng-src="images/users/@{{users.photo}}" class="md-avatar" >
                  <div class="md-list-item-text">
                     <h2 >@{{users.first_name}} @{{users.last_name}}</h2>
                     <h4>
                        @{{users.email}}
                     </h4>
                  </div>
               </md-list-item>
            </md-list>
         </div>
      </div>
   </div>
</section>



 <section id="view-product" >
   <div class="container">
   <div class="row"   >
         <div class="col-sm-8 col-md-9 col-lg-9" >
            <div class="panel"  >
								  
                                    <div class="panel-body" ng-repeat="fields in main.addOrderMeta.fields" >
                                       <div ng-repeat="field in fields">
									   				
                                          <!--------------------div show if input type is api---------------------->													
                                          <div class="" ng-show="field.input_type == 'api'"> 
										  <div ng-show="field.identifier =='customer_id'">
											  <h5>{{field.setting_order_meta_type_title}}</h5>
                                             
                                             <input type="text" ng-model="field.value" style="display:  ;"> 
                                          </div> 
										  </div>
									
									    <!--------------------div for RADIO TYPE---------------------->	
										  <div class="form-group"   ng-show="field.input_type == 'radio'">
                                                      <label for="{{field.identifier}}">{{field.setting_order_meta_type_title}}</label>
													  <br>
                                                       <label  class="radio-inline" ng-repeat="options in field.field_options">
								                           <input type="radio" ng-model="field.value" value="{{options.value}}" name="@{{field.identifier}}" id="{{field.identifier}} ">{{options.title}}
							 	                        </label> 
                                                   </div> 
												  

                                      <!--------------------div for DELIVERY TYPE---------------------->	
										  <div class="form-group"   ng-show="field.identifier == 'delivery_address'">
 
                                             <label for="{{field.identifier}}">{{field.setting_order_meta_type_title}} 
                                                <button class="btn" ng-click="get_address(field.parent_identifier);"   style="background:transparent;"><i class="fa fa-edit"></i></button>
                                             </label>
                                             <p>{{selected_values.address_line1}}</p>
                                             <p>{{selected_values.address_line2}}</p>
                                             <p>{{selected_values.city}}</p>
                                             <p>{{selected_values.state}}</p>
                                             <p>{{selected_values.country}}</p>
                                             <input type="text" ng-model="field.value" value="{{selected_values}} == field.value"  style="display: none;" id="user_address">
                                          </div>	
										  
										   <!--------------------div for DELIVERY TIME---------------------->	
                                          <div class="" ng-show="field.input_type == 'timeSlotsPicker'"  > 
                                             <div class="" ng-show="field.identifier == 'delivery_time'">
                                                <label for="{{field.identifier}}">{{field.setting_order_meta_type_title}}  <button class="btn" ng-click="get_pickupTime(field.parent_identifier,field.identifier);"  style="background:transparent;"><i class="fa fa-edit"></i></button>
                                                </label>
                                                {{deliveryTimeShow}}
                                             </div>
                                          </div>


										  
										   <div ng-show="field.input_type == 'text' || field.input_type == 'textarea'">
                                             <label for="{{field.identifier}}">{{field.setting_order_meta_type_title}}</label>
                                             <div class="form-group" > 
                                                <textarea class="form-control" ng-model="field.value" ng-required="field.required_or_not == '1'" ></textarea>
                                             </div>
                                          </div>
										   <hr>
										 
										  </div>
                                       
                                          </div>
                                       </div>
         </div>
         
	 
         <!---------------------------RIGHT SECTION STARTS HERE------------------------>
         <hr>
         <div class="col-sm-4 col-md-3" >
            <div ng-controller="cartController as cart" >
               <div class="panel"  >
                  <div class="panel-body order-sort-results">
                     <h5> <i class="fa fa-shopping-cart"></i> <b>Your Order</b></h5>
                     <hr>
                     <p class="text-center" ng-show="cart.cartStorage.items == ''" style="font-size:13px;color:#ccc;">No item in cart</p>
                     <div class="row cart_table" ng-repeat="item in cart.cartStorage.items track by $index" style="padding-bottom:7px; " >
                        <div class="col-sm-12">
                           <h4  style="font-size:12px"><b>{{item.item_title}}</b>
                              <span ng-show="item.variants != ''"  ><a href="#" data-toggle="tooltip" title="{{variantsSelectedTitleData}} ">&#9432;</a></span> 
                              <span ng-show="item.variants" ng-repeat="variant in item.variants">{{variant.title}} </span> 
                           </h4>
                        </div>
                        <div class="col-sm-6 text-center">
                           <p  style="font-size:12px">
                              <button ng-click="cart.increaseItemAmount(item)">
                              +
                              </button>
                              {{item.quantity}} 
                              <button ng-click="cart.decreaseItemAmount(item)">
                              -
                              </button>
                           </p>
                        </div>
                        <div class="col-sm-2">
                           <p  style="font-size:12px"><?php echo env("CURRENCY_SYMBOL", "");?>{{item.discounted_price}}</p>
                        </div>
                        <div class="col-sm-2">
                           <button ng-click="cart.removeFromCart(item)"  >
                           <i class="fa fa-minus"></i>
                           </button>
                        </div>
                     </div>
					 
                     <div class="row  ">
                        <div class="col-sm-12">
                           <hr>
                           <h5><b>Payment summary</b></h5>
                           <p class="text-center" ng-show="cart.cartStorage.items == ''" style="font-size:13px;color:#ccc;">No Payment info</p>
                           <table class="table paymentSummary main-cart" >
                              <tbody ng-repeat="data in main.paymentData.data" >
                                 <tr ng-repeat="values in data.data">
                                    <td class="" style="font-size:14px;text-transform: capitalize">{{values.title.replace('_', ' ')  }} </td>
                                    <td class="text-right" style="font-size:14px"> <?php echo env('CURRENCY_SYMBOL');?>{{values.value}} </td>
                                 </tr>
                                 <tr style="background:#f5f5f5;">
                                    <td class="" style="font-size:14px;text-transform: capitalize">Total </td>
                                    <td class="text-right" style="font-size:14px"> <?php echo env('CURRENCY_SYMBOL');?>{{data.total}} </td>
                                 </tr>
                              </tbody >
                           </table>
                           <table class="table paymentSummary  cart" >
                              <tbody ng-repeat="data in cart.paymentData.data">
                                 <tr  ng-repeat="values in data.data">
                                    <td class="" style="font-size:14px;text-transform: capitalize">{{values.title.replace('_', ' ')  }} </td>
                                    <td class="text-right" style="font-size:14px"> <?php echo env('CURRENCY_SYMBOL');?>{{values.value}} </td>
                                 </tr>
                                 <tr style="background:#f5f5f5;">
                                    <td class="" style="font-size:14px;text-transform: capitalize">Total </td>
                                    <td class="text-right" style="font-size:14px"> <?php echo env('CURRENCY_SYMBOL');?>{{data.total}} </td>
                                 </tr>
                              </tbody >
                           </table>
                        </div>
                     </div>
                     <div class="confirm-button">
                        <button class="btn btn-confirm btn-block"  ng-click="placeOrder()"><a href="#" >Proceed</a></button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel-body">
            </div>
         </div>
      </div>
	  
	  
	  
	  </div>
	  </section>
	  
	  
	  
	  
	  
	  <!----------------------------ADDRESS MODAL STARTS HERE----------------------------------------->
	   
                              <!-- Modal -->
                              <div id="myModal" class="modal fade" role="dialog" data-backdrop="false" style="z-index:9999999;">
                                 <div class="modal-dialog modal-lg" style="z-index:9999999; " data-backdrop="false">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Select Address</h4>
                                       </div>
                                       <div class="modal-body"> 
										  <div class="row addresses-row" ng-repeat="values in main.data_addresses.data ">
										  
										  
										   <p class="col-sm-8 col-lg-10">
										    
                                                      <span class=""  > Addreess Line1 : @{{values.address_line1}} </span><br>
                                                      <span class="name" >Addreess Line2 : @{{values.address_line2}} </span><br>
                                                      <span class="price" >City : @{{values.city}} </span><br>
                                                      <span class="created" >State : @{{values.state}} </span><br>
                                                      <span class="created"  >Country : @{{values.country}} </span><br>
                                                      <span class="created" >Pincode : @{{values.pincode}} </span><br>
                                                      
													  
										 
										  </p>
										  <p class="col-sm-4 col-lg-2">
										   <a class="btn btn-select-address edit-product" ng-model="field.value" data-dismiss="modal"  ng-click="checkedIndex(values)"  >Select</a> 
										   
										   </p>
										   
										   <div ng-repeat="fields in main.addOrderMeta.fields " >
                                                   <p ng-repeat="field in fields" ng-show="field.identifier == 'delivery_address'" ng-if="isSelected(field)">@{{field.id}}</p>
                                                </div>
												
										  </div>
										  
                                       </div>
                                    </div>
                                 </div>
                              </div>
							  
							  <!------------------------------------------address modal ends here------------------------------->
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							    <!-------------------------------pickup Modal starts here------------------------------>
                              <div id="pickupModal" class="modal fade" role="dialog" data-backdrop="false" style="z-index:99999;">
                                 <div class="modal-dialog  " style="z-index:99999;width:80%">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Select Delivery Time</h4>
                                       </div>
                                       <div class="modal-body"  >
                                         <ul class="nav nav-tabs picker-tabs"> 
                                            <li ng-class="{active: $index == selected}" ng-repeat="data in main.pickupDateData">
											   <a data-toggle="tab" href="#/checkout#tab{{data.day}}{{$index}}" ng-click="getPickupD(data.day);  ">{{data.day}}</a>
											</li>
	                                     </ul>
                                      <br> <div class="tab-content  ">
                                           <div ng-repeat="data in main.pickupDateData" id="tab{{data.day}}{{$index}}" class="tab-pane fade in" ng-class="{active: $index == selected}"> 
										   <div ng-repeat="fields in main.addOrderMeta.fields">
                                             <span ng-repeat=" field in fields"> 
											    <button class="btn btn-success btn-timeslots" ng-repeat="time in data.slots" ng-click="savePickup(field.identifier,time.id,field,time.from_time,time.to_time)" value="@{{time.id}}">{{time.from_time}}- {{time.to_time}}</button>
											    <input type=" " ng-model="field.value" value="@{{deliveryTime}}" id="@{{field.identifier}}" > 
											</span>
                                          </div>
                                          </div>
                                           </div>
				                         </div>

                                             </div>
                                          </div>
										   
                                       </div>