
<div class="row" >
   <div class="col-sm-12"  >
      <ul class="nav nav-tabs" >
         <li class=""><a href="#/" data-toggle="tab" >Active</a></li>
         <li class="active"><a href="#/expired" data-toggle="tab" >Expired</a></li>
      </ul>
      <div class="tab-content  tab-content-data" >
         <div id="/expired" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info">
                  <div id="tableToExport" class="products-table table-responsive"  >
                                          <table class="table" class="table table-striped" id="exportthis" >
                                             <thead>
                                                <tr> 
                                                   <th>ID</th>
                                                   <th>TITLE</th>
												    <th>COUPON CODE</th>
                                                   <th>IMAGE</th>
                                                   <th>TIME SCHEDULE</th>
                                                   <th>ACTIVE STATUS</th>
                                                   <th>CREATED</th>
                                                   <th>ACTIONS</th>
                                                </tr>
                                             </thead>
                                             <tbody >
                                                <tr  ng-repeat="values in ctrl.coupons.data.data  "> 
                                                   <td><a href="coupon/{{values.coupon_id}}" ><b>#{{values.coupon_id}}</b></a> </td>
                                                   <td>{{values.coupon_title}}</td>
												    <td>{{values.coupon_code}}</td>
													 <td><img ng-hide="!values.coupon_image" src="../images/coupons/{{values.coupon_image}}" style="height:50px;width:50px;">
													 <img ng-show="!values.coupon_image" src="../admin/assets/images/placeholder.jpg"style="height:50px;width:50px;"></td>
                                                   <td > Valid From : {{values.valid_from}} <br> Expiry Date : {{values.expiry}}</td>
                                                   <td> {{values.active_status}} </td>
                                                   <td>{{values.created_at_formatted2}}</td>
                                                   <td class="actions">
                                                      <a class="btn btn-xs edit-product" href="coupon/{{values.coupon_id}}" ><i class="fa fa-edit"></i></a>
                                                      <a class="btn btn-xs delete-product" ng-click="ctrl.deleteCoupon(values.coupon_id, $index)"><i class="fa fa-trash"></i></a>
                                                      <!--  <a class="btn btn-xs edit-product" href="{{ URL::to('product_edit')}}/@{{values.id}}" ><img src="{{url::to('admin/images/edit.png')}} " style="height:16px;width:16px"/></a>
                                                         <a class="btn btn-xs delete-product" ng-click="ctrl.removeChoice(values.id, $index)"><img src="{{url::to('admin/images/bin.png')}} " style="height:16px;width:13px"/></a>-->
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div> 
                                       <div class="pagination text-right" style="display:block" >
                                           <button class="btn"  ng-show="ctrl.coupons.data.first_page_url != null"  ng-click="ctrl.pagination(ctrl.coupons.data.first_page_url);">First</button> 
                                           <button class="btn"  ng-show="ctrl.coupons.data.prev_page_url != null"  ng-click="ctrl.pagination(ctrl.coupons.data.prev_page_url);">Previous</button> 
                                          <span>{{ctrl.coupons.data.current_page}}</span>
                                          <button class="btn" ng-show="ctrl.coupons.data.next_page_url != null"  ng-click="ctrl.pagination(ctrl.coupons.data.next_page_url);">Next</button> 
                                          <button class="btn"  ng-show="ctrl.coupons.data.last_page_url != null"  ng-click="ctrl.pagination(ctrl.coupons.data.last_page_url);">Last</button> 
                                       </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>