<div class="container-fluid">
   <div class="row">
      <div class="col-sm-10" >
         <ul class="nav nav-tabs" >
            <li  class="" ><a href="#/" data-toggle="tab"   >Basic Detail</a></li>
			<li  class=""   ><a href="#/order" data-toggle="tab"   >Orders</a></li>
            <li  class="active" ><a href="#/address" data-toggle="tab"   >Address</a></li>
         </ul>
      </div>
      <div class="col-sm-2 right-add-btn"  >
         <button class="btn md-raised bg-color md-add md-button md-ink-ripple  btn-add-new" data-toggle="modal" data-target="#address_add"  >Add Address</button> 
      </div>
   </div>
   <div class="tab-conten  tab-content-datat">
      <div id="/address" class="tab-pane fade in  active" >
         <div class="panel">
            <div class="panel-body user-info">
               <table class="table" id="exportthis "  >
                  <thead>
                     <tr> 
                        <th >ID</th>
						 <th> ADDRESS LINE1</th>
						 <th >ADDRES LINE 2</th>
						 <th >STATE</th>
						 <th >COUNTRY</th>
						  <th>ZIPCODE</th>
                        <th>ACTIONS</th>
                     </tr>
                  </thead>
                  <tbody >
                     <tr  ng-repeat="values in addressData.data.data "> 
                        <td >  #{{values.address_id}} </td>
						 <td >  {{values.address_line1}} </td>
						  <td >  {{values.address_line2}} </td>
						   <td >  {{values.state}} </td>
						    <td >  {{values.country}} </td>
						    <td >  {{values.pincode}} </td>
                        <td class="actions">
                           <a class="btn btn-xs edit-product"  ng-click="getEditValues(values)"   ><i class="fa fa-edit"></i></a>
                           <a class="btn btn-xs delete-product"  ><i class="fa fa-trash"> </i></a>  
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<!------------------------------------------- Add address  Modal starts ------------------------------------------------>
<div id="address_add" class="modal fade" role="dialog"   style="z-index:20;" data-backdrop="false">
   <div class="modal-dialog modal-lg address-add" data-backdrop="false">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-uppercase">Add <b> Address</b></h4>
         </div>
         <div class="modal-body" > 
               <div class="row">
                  <div class="col-sm-12 col-md-6">
                     <div class="form-horizontal"  >
                        <label class="control-label">Search</label>
                        <div class="search-input">
                           <input type="text" class="form-control" id="us3-address" placeholder="Type area, city or street"  />
                        </div>
                        <br>
                        <!--Map by element. Also it can be attribute-->
                        <locationpicker options="locationpickerOptions" style="width:98%;padding:20px 5px;" ></locationpicker>
                        <div class="clearfix" >&nbsp;</div>
                        <h4>{{address}}</h4>
                        <div class="m-t-small  ">
                            <h4>Coordinates:</h4>						
                           Latitude : <input type="text" class="form-control"   id="us3-lat"  readonly><br>
                          Longitude : <input type="text" class="form-control"   id="us3-lon" readonly />
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                     <div class="row">
					   <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Address Title</label>
                              <input type="text" id="address_title" ng-model="address_title"/>
                           </md-input-container>
                        </div>
						  <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Phone</label>
                              <input type="text" id="address_phone" ng-model="address_phone"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-12">
                           <md-input-container  class="md-block">
                              <label>Address Line 1</label>
                              <input type="text" id="address_line1" ng-model="address_line1"/>
                           </md-input-container>
                           <md-input-container  class="md-block">
                              <label>Address Line 2</label>
                              <input type="text" id="address_line2" ng-model="address_line2"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>City</label>
                              <input type="text" id="city" ng-model="city"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>State</label>
                              <input type="text" id="state" ng-model="state"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Country</label>
                              <input type="text" id="country" ng-model="country"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Zipcode</label>
                              <input type="text" id="pincode" ng-model="pincode"/>
                           </md-input-container>
                        </div>
                        
                        </div>
                     </div>
                     <md-button ng-click="add_address()"  class="md-raised bg-color md-submit">Add Address</md-button>
           
            </div>
            </div>
         </div>
      </div>
   </div>

<!------------------------------------ Edit addresses ends -----------------------------------> 
<!------------------------------------------- Edit address  Modal starts ------------------------------------------------>
<div id="myModal_edit" class="modal fade" role="dialog" style="z-index:20" data-backdrop="false">
   <div class="modal-dialog modal-lg  address-add"  style="width:80%; " data-backdrop="false">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Update Address</h4>
         </div>
         <div class="modal-body" >
            <div class="row">
                  <div class="col-sm-12 col-md-6">
                     <div class="form-horizontal"  >
                        <label class="control-label">Search</label>
                        <div class="search-input">
                           <input type="text" class="form-control" id="us3-address-edit" placeholder="Type area, city or street"  />
                        </div>
                        <br>
                        <!--Map by element. Also it can be attribute-->
                        <locationpicker options="locationpickerOptionsEdit" style="width:98%;padding:20px 5px;" ></locationpicker>
                        <div class="clearfix" >&nbsp;</div>
                        <h4>{{address}}</h4>
                        <div class="m-t-small  ">  <h4>Coordinates:</h4>						
                           Latitude :   <input type="text" class="form-control"   id="us3-lat-edit"  ng-model="latitude_edit" readonly><br>
                          Longitude :  <input type="text" class="form-control"   id="us3-lon-edit"  ng-model="longitude_edit" readonly />
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                     <div class="row">
					   <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Address Title</label>
                              <input type="text" ng-model="address_title_edit" id="address_title_edit"  value="{{address_title_edit}}"/>
                           </md-input-container>
                        </div>
						  <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Phone</label>
                              <input type="text" ng-model="address_phone_edit" id="address_phone_edit" value="{{address_phone_edit}}"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-12">
                           <md-input-container  class="md-block">
                              <label>Address Line 1</label>
                              <input type="text" ng-model="address_line1_edit" id="address_line1_edit"/>
                           </md-input-container>
                           <md-input-container  class="md-block">
                              <label>Address Line 2</label>
                              <input type="text" ng-model="address_line2_edit" id="address_line2_edit"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>City</label>
                              <input type="text" ng-model="city_edit" id="city_edit"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>State</label>
                              <input type="text" ng-model="state_edit" id="state_edit"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Country</label>
                              <input type="text" ng-model="country_edit" id="country_edit"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Zipcode</label>
                              <input type="text" ng-model="pincode_edit" id="pincode_edit"/>
                           </md-input-container>
                        </div>
                        
                        </div>
                     </div>
                     <md-button ng-click="user_address_update()"  class="md-raised bg-color md-submit">Update </md-button>
           
            </div>
         </div> 
      </div>
   </div>
</div>
<!------------------------------------ Add addresses ends ----------------------------------->