
        <!---------------------------------------BANNER SECTION STARTS HERE-------------------------------------------->
            <section id="banner" style="background: url('web-food/assets/images/food-back-small.jpg')no-repeat center;">
               <div class="container"> 
                  <div class="row" >
                      <div class="col-sm-12" >    
                      </div>
                 </div>
               </div>
            </section>
		<!---------------------------------------WORKS SECTION ENDS HERE-------------------------------------------->
 
        <!---------------------------------------WORKS SECTION STARTS HERE-------------------------------------------->
            <section id="stores" >
               <div class="container"  >
                  <div class="row"> 
                     <div class="col-sm-3  ">   
                         <div class="panel panel-left">
						 <div class="panel-body">
						 <h4 class="header">Cuisines</h4><br>
						  <ul >
						    <li ng-repeat="c in cusiniesList.data.data"> 
							   <md-checkbox ng-model="c.value" aria-label="Checkbox1" ng-change="cuisinesFiler();">  {{c.value}} </md-checkbox>
							</li> 
						  <ul>
						 </div>
						 </div>
                     </div> 
					 
					 
					 <div class="col-sm-6 " >   
                         <div class="panel panel-center-list" ng-repeat="s in storesList.data">
						 <div class="panel-body">
						 
						   <div class="row">
							 <div class="col-sm-3 col-md-4 col-lg-3">
							   <img src="images/stores/{{s.store_photo}}" class="img-responsive center-block" ng-show="s.store_photo">
							    <img src="admin/assets/images/img-placeholder.png" class="img-responsive center-block" ng-show="!s.store_photo">
							 </div>
							  <div class="col-lg-9 col-sm-9 col-md-8">
							  <div style="display:flex">
							     <h4 class="header">{{s.store_title}}<br>
								 <small>Chinese, Arabian, American</small></h4>
								 <a href="#/items?{{s.store_id}}"><md-button  class="btn md-raised bg-color md-submit md-button md-ink-ripple">View Menu</md-button></a>
								 </div>
								  <table class="table " class="table table-striped" id="exportthis" >
                                         
                                             <tbody >
                                                <tr   >  
                                                    <td class="text-left">Delivery Time  <p>40 mins<p></td>
													 <td class="text-center">Min Delivery <p><?php echo env('CURRENCY_SYMBOL');?>45.60</p></td>
													 <td  class="text-right"> Delivery Cost <p>34.50</p></td>
													  </tr   >   
                                             </tbody>
                                          </table> 	 
										</div>
								  </div> 
						 </div>
						  </div>
						  
					 
					 
						  </div>
					 
					 
					  <div class="col-sm-3 ">   
                         <div class="panel panel-right">
						   <div class="panel-body">
						    <h4 class="header">Sort By</h4> 
						       <table  class="table">
								<tr>
								  <td> <i class="fa fa-sort"></i></td>
								  <td > <a href="#" ng-click="alphabeticalSort();">Alphabetical</a></td>
								</tr>
								<tr>
								  <td> <i class="fa fa-heart"></i></td>
								  <td> <a href="#" ng-click="ratingSort();">Ratings</a></td>
								</tr>
								<tr>
								  <td> <i class="fa fa-uer"></i></td>
								  <td><a href="#" ng-click="minOrderSort();" >Minimum Order Value</a></td>
								</tr>
							  </table>
						   </div>
						 </div>
					 </div>
                  </div> 
               </div>
            </section>
		<!---------------------------------------WORKS SECTION ENDS HERE-------------------------------------------->