body,html{
	padding:0px;
	margin:0px;
	font-family: 'Open Sans',sans-serif;
}
a.nav-link{
	font-family:'Open Sans Semibold',sans-serif;
	color:#2e2e2e!important;
}
/* Banner CSS */
#main-slider .item{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height:600px;
}
#main-slider .carousel .inner-data h1{
	padding-top:150px;
    font-weight:600;
	font-family:'Open Sans Semibold',sans-serif;
}
#main-slider .carousel .inner-data h2{
	font-size:18px;
	font-family:'Open Sans',sans-serif;
}
#main-slider .carousel .inner-data h2,#main-slider .carousel .inner-data h1{
	margin-bottom:30px;
}
#main-slider .carousel .inner-data input[type="text"]{
	text-transform: uppercase;
    margin: 0;
    padding: 0 15px;
    border-radius: inherit;
    height: 50px;
    line-height: 50px;
    color: #d1d1d1;
    font-size: 12px;
} 
.btn-submit{
	margin: 0;
    padding: 10px 15px;
    border-radius: inherit;
    border: none;
    box-shadow: none;
    width: 100%;
    height: 50px;
    line-height: 30px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #4cce4a;
    color: #fff;
	cursor:pointer
}
.btn-submit a, .btn-submit a:hover{
	color:#fff;
	text-decoration:none;
}
.form-group{
	position: relative;
    margin: 0 0 20px;
    width:100%;
}
form.search-restaurant{
	padding-top:30px;
}
.form-holder {
    background-color: #c33332;
    padding: 0 10px 10px 10px;
    margin-bottom: 40px;
}
.other-info .fa{
	color:#4cce4a;
	font-size:21px;
	padding-right:35px;	
}
.other-info h5{
	font-size:18px;
	padding-right:35px;
	font-family:'Open sans',sans-serif;
	font-weight:600;
	
}
.other-info .text-center{
	display:flex;
}
@media (max-width:992px){
	.other-info .fa, .other-info h5{
		padding-right:15px;
	}
}
#browse-cuisine,#testimonial{
	background: #f5f5f5;
	padding-top:60px;
}
.categories-holder,.localities-holder{
	background-color: #fff;
    padding: 32px 0 ;
    border: 1px solid #ced3d9;
    text-align: center;
    margin-bottom: 60px;
}
.categories-holder h6{
	text-transform: uppercase;
	padding-top: 20px;
	font-size:12px;
	color:#333333;
	font-family: 'Open Sans Semibold',sans-serif;
}
.categories-holder a{
	color:#7d7d7d;
	text-decoration:none;
}
.localities-holder ul li{
	padding: 7px 0px;
    font-size: 14px;
    color: #333333;
    font-family: 'Open Sans',sans-serif;

}
.localities-holder ul li span{
	color:#999;
	padding-left:5px;
	font-family: 'Open Sans',sans-serif;
}
#top-restaurants{
	background: #fff;
	padding-top:60px;
	padding-bottom: 20px
}
#top-restaurants img{
	/* border:1px solid #ccc; */
	margin-bottom:20px
}
.box-conatiner{
	border:1px solid #ccc;
	padding:20px;
	border-radius:4px;
}
.listing.fancy .list-post {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    padding: 23px 28px 23px 20px;
    position: relative;
    background-color: #fff;
    margin: 0 0 30px 0;
    min-height: 184px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.listing.fancy .img-holder {
    width: 72px;
    margin-right: -4px;
    vertical-align: middle;
}
.listing.fancy .img-holder figure {
    text-align: center;
    border: 1px solid #e5e5e5;
    padding: 5px;
    height: 72px;
    position: relative;
}
.listing.fancy .img-holder figure img {
    width: 100%;
    /* position: absolute; */
    top: 50%;
    left: 50%;
 }
 .listing .restaurant-status.close {
    background: #c33333;
    opacity: 1;
    cursor: auto;
    font-weight: normal;
    float: none;
    text-shadow: none;
}

.listing .restaurant-status {
    position: absolute;
    top: 15px;
    left: -11px;
    padding: 3px 10px;
    line-height: normal;
    background: #3ab54b;
    font-size: 10px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    min-height: 20px;
    min-width: 52px;
    text-align: center;
}
.listing.fancy .text-holder {
    width: 75%;
    width: -webkit-calc(100% - 74px);
    width: -moz-calc(100% - 74px);
    width: calc(100% - 74px);
    margin-right: -4px;
    padding-left: 26px;
    vertical-align: middle;
    position: relative;
}
.listing .post-title h5 {
    font-weight: 400;
    margin-bottom: 4px;
}
.listing.fancy address {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
    color:#999;
}
.post-title h5 a{
	color:#333333;
	text-decoration:none;
}
.listing .list-option .shortlist-btn i {
    font-size: 14px;
    color: #319b39;
    position: absolute;
    top: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#top-restaurants h3, #browse-cuisine h3{
	font-family: 'Open Sans Semibold',sans-serif;
}
.testimonial {
    margin-bottom: 30px;
}
.testimonial .img-holder {
    float: left;
    margin-right: 25px;
    width: 50px;
}
.testimonial .text-holder {
    overflow: hidden;
}
/* last sections */
.main-post .img-frame {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 39%;
    margin-right: 55px;
}
#promo{
	padding-top:80px;
}
.main-post .img-frame {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 39%;
    margin-right: 55px;
}
.main-post .column-text {
    display: inline-block;
    vertical-align: middle;
    width: 55%;
}
.main-post.promo-box .column-text .promo-content {
    line-height: 24px;
    margin-bottom: 20px;
}
.main-post .column-text form .field-holder {
    width: 340px;
    position: relative;
}
.main-post .column-text form .field-holder .field-input {
    color: #999999;
    font-size: 12px;
    height: 41px;
    border-color: #cccccc;
    padding-right: 120px;
}
.main-post .column-text form .field-holder .field-label-btn {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 41px;
    }
    .main-post .column-text form .field-holder .field-btn {
    height: 39px;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    background: #dc3545;
}
.field-holder{
	display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}
.main-post .column-text .app-btn {
    display: inline-block;
    margin-bottom: 25px;
    padding-right: 10px;
    }
.field-holder input[type=email]{
	box-shadow: none;
    box-sizing: border-box;
    color: #9097a1;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    width: 100%;
    border: 1px solid #eceef4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
	} 
	
	
/* footer.footer{
	padding:40px;
	background:#e2e2e2;
}	
 */
footer.footer{
	padding:40px;
	background:#2e2e2e;
}

footer .widget h3{
	font-size: 18px;
    font-family: 'Open Sans Semibold',sans-serif;
	color:#fff;

}
footer li a{
	    color: #999;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    line-height: 30px;
    letter-spacing: 0.6px;
}
footer li a:hover{
	color:#999;
	text-decoration:none;
}
@media (max-width: 767px){
	#main-slider .item{
		height:800px;
	}
	#top-restaurants .col-sm-2{
		padding:20px;
	}
	.listing.simple ul li .text-holder {
		padding-left: 25px!important;
	}
	.listing .list-option{
		top:-10px!important
	}
}
@media (max-width: 575px){
	.listing.simple ul li .text-holder {
		padding: 20px 0!important;
	}
}

/* Search Page CSS */
#main-slider-search .item{
	height:300px;
}
form.search-form{
	padding-top: 132px;
}
#restaurant-found, #view-product{
	background: #ebedf3;
	padding:80px 0 20px 0;
}
.btn-view{
   padding: 10px 20px;
   background: transparent;
   color:#ced3d9;
   border:1px solid #ced3d9;
}
.filter-panel li{
	display: flex;
	padding:7px
}
.filter-panel li span{
	float:right;
	padding-left:40px;
}
.filter-panel ul li .checkbox label {
    padding-left: 28px;
    font-size: 13px;
    color: #999ba3;
    cursor: pointer;
    display: block;
    margin-bottom: 0px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.filter-panel ul li .checkbox span {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -2px;
}
.filter-panel ul li .checkbox {
    margin: 0;
    padding: 0;
    position: relative;
}
.filter-panel .heading {
    display: block;
    padding: 9px 0px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
}
.order-sort-results {
    background-color: #fff;
    padding: 15px 20px 10px 20px;
    margin-bottom: 20px;
}
h5, h5 a {
    font-family:'Open Sans Semibold',sans-serif;';
    letter-spacing: 0px !important;
    text-transform: capitalize !important;
    color: #000000 !important;
}

.order-sort-results ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;
    position: relative;
}
li {
    line-height: 28px;
}
li.active {
    color:#c33333;
}
.order-sort-results ul li .fa{
	color:#c33333;
	font-size:16px;
	padding-right:15px;
}
.listing.simple ul li {
    list-style: none;
    background-color: #fff;
    box-shadow: none;
    text-shadow: none;
    border: none;
    padding: 28px 30px 28px 20px;
    margin: 0px 0px 20px 0;
    border-radius: 3px;
    position: relative;
}
.listing.simple ul li .img-holder {
    display: inline-block;
    width: 95px;
    margin-right: -4px;
    vertical-align: middle;
}
.listing.simple ul li .img-holder  img{
	width:100%
}
 .listing.simple ul li .text-holder {
    display: inline-block;/* 
    width: calc(100% - 95px);
    width: -moz-calc(100% - 95px);
    margin-right: -4px; */
    padding-left: 14px;
    vertical-align: middle;/* 
    padding-right: 150px; */
    position: relative;
} 
.listing .list-option {
    display: inline-block;
    position: absolute;
	top: 30%;/* 
    right: 30px;
    
    transform: translateY(-50%); */
}
.listing.simple ul li .img-holder figure {
    height: 95px;
    position: relative;
}

figure {
    margin-bottom: 0;
}
.listing.simple ul li .img-holder .restaurant-status {
    left: -10px;
}

.listing .list-option .shortlist-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #dddddd;
    background-color: #fff;
    vertical-align: top;
    margin-right: 6px;
    position: relative;
	margin-bottom:8px
}
.listing .list-option .viewmenu-btn {
    display: inline-block;
    min-width: 75px;
    height: 30px;
    line-height: 29px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
	color:#c33333;
	text-decoration:none;
}
.order-sort-results ul li a {
    display: block;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 14px;
    font-weight: 300;
    color: #2f313a;
    line-height: 18px;
    margin-bottom: 12px;
    position: relative;
    /* padding-left: 28px; */
}
.post-title span{

    color: red;
    font-size: 11px;
}
span.post-categories{
	color:#999;
	font-size:15px;
}




.listing-filter ul li .checkbox input[type="checkbox"], .listing-filter ul li .checkbox input[type="radio"] {
    display: none;
}
/*=======view Page=========*/

#main-slider-view .item{
	height:450px;
	background-repeat:no-repeat;
	background-size:cover;
}
#main-slider-my-orders .item{
	height:350px;
	background-repeat:no-repeat;
	background-size:cover;
}
#main-slider-my-orders #inner-section{
    padding-top:100px
}
#inner-section{
	padding-top:150px
}
#inner-section img{
	border:1px solid #fff;
	border-radius:5px;
}
.company-info img, .buyer-info img{
	width:100%;
}
.company-data, .buyer-data{
	padding: 0 15px;
}
.company-data h4, .company-data p, .buyer-data h4, .buyer-data li{
	color:#fff;
}
.company-data h4, .buyer-data h4{
	font-family:'Open Sans Semibold',sans-serif;
	letter-spacing:1px;
	font-size:25px;
	line-height:35px;
}
.company-data p, .buyer-data p{
	font-family:'Open Sans',sans-serif;
	font-size:15px;
	letter-spacing:0.6px
}
@media (max-width:992px){
	.company-data, .buyer-data{
	padding: 0 0px;
}
}
 .delivery-info {
	color:#fff
}
.delivery-info p{
	font-size:15px;
}
.categories li{
	border-bottom: 1px solid #ccc;
}
.categories li a{
	font-size: 13px;
    color: #999;
    line-height: 40px;
    padding-bottom: 10px;
	text-decoration:none;
}
.categories li.active a{
	color:#c33333;
}
.delivery-info .btn-dropdown{
	background: #fff;
    color: #333333;
    padding: 10px 30px;
    border: #fff;
	font-size:15px;
}
#view-product .tab-content{
	padding-top:20px;
	background:#fff;
}
#view-product .nav-tabs .nav-link{
	border:0px!important;
	color:#C33332;
}
#view-product .nav-tabs .nav-link .fa{
	padding-right:10px
}
#view-product input[type=text]{
    border: none;
    text-transform: initial;
    color: #aaaaaa;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px solid #ebedf3;
    padding: 0;
    font-size: 12px;
    height: 43px;
    line-height: 43px;
    box-shadow: none;
    width: 100%;
}
#view-product img{
	width:100%;
}
#view-product ul.list-view h5.category-name{
	color:#c33333!important;
	padding-top:20px
}
#view-product ul.list-view h5{
	font-size: 16px;
    font-family: 'Open sans Semibold',sans-serif;
    letter-spacing: 0.6px;
    padding-bottom: 0px;
	margin-bottom:0px
}
#view-product ul.list-view p{
	color:#999;
	font-size:13px;
}
#view-product span{
	padding-right:25px;
}
#view-product .fa-plus{
	border:1px solid #c33333;
	border-radius:50%;
	padding:6px;
	background:#c33333;
	color:#fff;
}
#view-product .view-row{
	padding:20px 0;
	border-bottom:1px solid #ebedf3;
}
#view-product .list-option{
		display:inline-block;
		padding-top:23px;
	}
@media (max-width:767px){
	#view-product ul.list-view h5{
		padding-top:20px
	}
}

@media (max-width:575px){
	#view-product .list-option{
		padding-top:0px;
	}
}
/*======  Your Order =======*/ 
.order-sort-results label{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans Semibold',sans-serif;
}
.order-sort-results p.pre-order{
	font-size:12px;
	color:#C52D2F
}
.order-sort-results .card span{
	font-size:12px;
	color:#999;
	background:#f5f5f5;
	padding:5px;margin-bootm:10px;
	font-family: 'Open Sans',sans-serif;
}
.order-sort-results table td{
	font-size:12px;
	font-family: 'Open Sans Semibold',sans-serif;
	border-top:0px!important;
}
.order-sort-results table tr.subtotal{
	padding-bottom:50px
}
.order-sort-results tr.subtotal{
	padding-top:40px
}
.order-sort-results .btn-confirm{
	background:#C52D2F;
	border:1px solid #C52D2F;
	border-radius:4px;
}
.order-sort-results .btn-confirm a, .order-sort-results .btn-confirm a:hover{
	color:#fff;
	text-decoration:none;
	font-size:15px;
	font-family:'Open Sans Semibold', sans-serif;
}
/*===========REVIEWS SECTION====================*/
#reviews .fa{
padding:0px}
#reviews span{
padding-right:8px;
font-size:14px
}
#reviews p{
font-size:13px;
font-family: 'Open sans',sans-serif;
color:#999;
}
#reviews h3, #info h3{
font-size: 16px;
font-family: 'Open sans semibold',sans-serif;
padding-bottom: 20px;}
#reviews .border-right{
	border-right:1px solid #ccc;
}
#reviews .border-right:last-child{
	border-right:0px
}
#reviews .fa-star.checked{
	color:#C52D2F
}
#reviews .fa-star{
	color:#ccc
}
#reviews .card{
	padding:10px;
	background:#F9F9F9;
	margin:15px
}
#reviews .review-date{
	float:right;
	font-size:12px;
	font-family:font-family: 'Open sans',sans-serif;
}
#reviews .review-text p{
	font-size:14px;
	font-family:'Open Sans Semibold',sans-serif;
	color:#2e2e2e;
	padding:10px
	
}
#info td{
	font-size: 13px;
    font-family: 'Open Sans Semibold',sans-serif;
}
#info .fa{
  padding:0px
}
#main-slider-faq .item{
	min-height:250px
}
#faq{
	padding:60px 0px;
	background:#f5f5f5;
}
#faq .panel-group{
	padding-left:30px
}
#faq .panel-title a{
	font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    color: #7d7d7d;
	text-decoration:none;
	position:relative
}
#faq .panel-heading a{
	color:#C52D2F
}
#faq .panel-body{
	font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 0.6px;
    line-height: 25px;
}
#faq .panel-title a.collapsed::before{
    content: "\f054";
    font-family: FontAwesome;
    font-size: 15px;
    left: -20px;
    line-height: 21px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    margin: 1px 0 0 0;
}
#faq .panel-title a::before{
	content: "\f078";
	font-family: FontAwesome;
    font-size: 15px;
    left: -20px;
    line-height: 21px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    margin: 1px 0 0 0;
}
#faq .faq-about h3{
	font-size: 18px;
	font-family: 'Open sans semibold',sans-serif;
	padding: 20px 0;
	letter-spacing:0.4px;
}
 h3.faq-title{
	color:#fff;
	padding:120px 0;
}

/*=======================Order Detail=====================*/
#order-detail{
	background:#f7f7f7;
	padding:40px 0
}
#order-detail .order-form{
	padding:20px;
	background:#fff;
}
form.sign-up .form-control{
	font-size:12px;
	font-family:'Open Sans',sans-serif;
}
form.sign-up input[type=text]{
	border-radius:4px;
}
.order-form h3, .your-order h3{
	padding-bottom: 15px;
    font-family: 'Open sans semibold',sans-serif;
	font-size:25px;
}
form.sign-up .btn-create-account, form.contact-us .btn-submit-message{
	padding:6px 25px;
	float:left;
	color:#fff;
	background:#C52D2F;
	border:1px solid #C52D2F;
	border-radius:4px;
	font-family: 'Open sans semibold',sans-serif;
	margin-top:30px
}
form.contact-us .btn-submit-message{
	padding:10px 25px!important;
}
form.contact-us label,form.contact-us .form-control{
	font-size:12px;
	font-family:'Open Sans Semibold',sans-serif;
}
span.login-here,span.sign-up-here{
	font-size:13px;
	float:right;
	margin-top:30px
}
span.login-here a,span.sign-up-here a{
	color:#C52D2F;
	text-decoration:none;
}
#order-detail .card{
	border:0
}
.card.your-order{
	padding:20px 
 }
ul.order-list{
	 border-bottom: 1px solid #ebedf3;
    padding-bottom: 10px;
    margin-bottom: 15px;
 }
ul.order-list li{
    border-bottom: 1px solid #ebedf3;
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #2f313a;
    font-size: 12px;
    position: relative;
}
ul.order-list li span,.subtotal-area ul li span,.your-order p.total span{
	float:right
}
ul.order-list li span{
	font-weight:600
}
.subtotal-area{
	margin: 0 0 12px;
}
.subtotal-area ul{
	margin: 0 0 20px;
}
.subtotal-area ul li{
	font-size: 12px;
    line-height: normal;
    margin: 0 0 10px;
    font-family: 'Open Sans', sans-serif;
}
.your-order p.total{
	background-color: #f1f3f8;
    margin: 0 0 12px;
    font-size: 12px;
    color: #2f313a;
    padding: 10px 15px;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
}
.your-order p.total span{
	font-size: 14px;
	font-weight:600
}
/*===========My orders==============*/
#my-order{
	padding:100px;
	background:#f7f7f7;
}
#my-order .nav-list{
	background-color: #fff;
    margin-bottom: 30px;
}
#my-order .nav-list ul li:first-child {
    border-top: none;
}

#my-order .nav-list ul li {
    list-style: none;
    padding: 15px 20px 12px 20px;
    margin: 0px;
    border-top: 1px solid #ebedf3;
    line-height: 1;
    box-shadow: none;
    text-shadow: none;
    display: block;
    width: 100%;
}
#my-order .nav-list ul li a{
	color:#7d7d7d;
	text-decoration:none;
}
#my-order .nav-list ul li a.active{
	color:#C52D2F;
}
#my-order .nav-list ul li .fa {
	min-width: 14px;
    display: inline-block;
    margin-right: 10px;
    color: #b3b6c0;
    font-size: 14px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    line-height: 13px;
}
.order-detail{
	padding:20px;
	background:#fff;
	border-top:4px solid #7d7d7d;
	border-radius:5px
}
.order-detail h3{
	font-family: 'Open Sans semibold',sans-serif;
    font-size: 23px;
	padding-bottom: 20px;
}
#my-order select.form-control:not([size]):not([multiple]){
	height:28px!important;
}
.order-detail p.reviews{
	padding:60px 0;
	font-family: 'Open Sans',sans-serif;
}
p.reviews .fa{
	border:1px solid #ccc;
	border-radius:50%;
	padding:3px 6px;
	background:#f7f7f7;
	
}
#my-order .nav-list ul li.active{
	color:#C52D2F

/*==========Account Settings=============*/
}
h3.pass{
	padding:20px 0;
}
.change-profile-pic img{
	border:1px solid #ccc;
	border-radius:50%;
	width:100%;
}
.upload-btn{
	background:transparent;
	border:1px solid #C52D2F;
	padding:10px 30px;
	color:#7d7d7d;
}
label.upload-btn{
	color:#C52D2F;
}
.upload-text p{
	padding: 10px 0;
    color: #7d7d7d;
    font-size: 13px;
}
.account-form label{
	font-size:13px;
	font-family:'Open Sans Semibold',sans-serif;
}
.modal-body .btn-create-account a,.modal-body .btn-create-account a:hover{
	color:#fff;
	text-decoration:none;
}
#contact-us{
	background:#EBEDF3
}
#contact-us .card{
	border:0;
}
#contact-us .order-form{
	padding:20px;
	background:transparent;
}
#contact-us input[type=text],#contact-us input[type=email],#contact-us input[type=number]{
	border:0;
	background:#fff;
	
}